# First steps with Python

Some text. Some **bold** text.

In [2]:
2 + 3

5

Ah so we now that the sum of 2 and 3 is 5

In [6]:
a = 5
b = 6

In [9]:
a + b

13

In [12]:
a = 7.5

In [13]:
type(a)

float

In [14]:
a + "hello"

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [15]:
"hello" + a

TypeError: can only concatenate str (not "float") to str

In [16]:
print(a)

7.5

In [18]:
myString = f"Nice text and {a} and {a + b}"
print(myString)

Nice text and 7.5 and 13.5

## Now some details

First **immutable** types

In [19]:
a = 5
b = 6
c = 7

In [ ]:
print(a,b,c)

c = a

In [22]:
print(a,b,c)

5 6 5

In [23]:
a = 9

In [24]:
print(a,b,c)

9 6 5

**Mutable** Types

In [27]:
a = [ 1 , 2]
b = a
c = a.copy()

In [28]:
print(a,b,c)

[1, 2] [1, 2] [1, 2]

In [29]:
b.append(3)

In [30]:
print(a,b,c)

[1, 2, 3] [1, 2, 3] [1, 2]

In [31]:
a = [ 5, 6 , 7, 'hello']

In [32]:
print(a,b,c)

[5, 6, 7, 'hello'] [1, 2, 3] [1, 2]

Lists and dictionaries

In [33]:
myDict = { "name": "Plenk", "age" : 35 }

In [34]:
print(a[2], myDict["age"])

7 35

Loops

In [35]:
for item in a:
    print(item)

5
6
7
hello

In [37]:
for ix,item in enumerate(a):
    print(f"{ix} element is: {item}")

0 element is: 5
1 element is: 6
2 element is: 7
3 element is: hello

In [44]:
# only for integers
for i in range(-7, 7, 1):
    print(i)

-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6